<!DOCTYPE html>

{% load static %}

<html>
	<head>
		<title>url365</title>

		<!-- Meta tags describe a page's content;  -->
		<!-- the meta tags don't appear on the page itself, --> 
		<!-- they help tell search engines what a web page is about. -->

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="hongshan zhang">

        <link href="{% static "img/favicon.ico" %}" rel="shortcut icon">
        <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
        <link href="{% static "css/bootstrap-responsive.css" %}" rel="stylesheet">
        <link href="{% static "css/style.css" %}" rel="stylesheet">
        <link href="{% static "css/style-responsive.css" %}" rel="stylesheet">
        
        <!-- ?os.urandom(23223) is to make django does not cache static files -->
        <link href="{% static "css/register-form.css?os.urandom(13473)" %}" rel="stylesheet">
        {% block style %}{% endblock style %}
		
	</head>
	
	<body>
		<div id="wrapper" style="width:100%; text-align:center">
			</br>
			</br>
			</br>
			<img src="{% static "img/web365.png" %}" alt="Picture of file uploader" /> <!-- Images -->
		</div>
		
		<!-- data captured within this form is sent to the URL /rango/add_page/ as a HTTP POST request -->
		<!-- id="page_form" IDs are good when you plan on doing some sort of client-side work on the element, as an element that has an ID can easily and quickly be retrieved by Javascript-->
		
		
		<!-- {{form.title}} this is reserved parameter-->
		
        <!-- Upload form. Note enctype attribute! -->
        <form class="mainform" id="register_form" action="/register/" method="post" enctype="multipart/form-data">
        	<table>
	            {% csrf_token %}
	            <p>{{ form.non_field_errors }}</p>
	            <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
	            <p>
	                {{ form.docfile.errors }}
	                {{ form.docfile }}
	            </p>
	            <p><input type="submit" value="Upload" /></p>
            </table>
		</form>


	</body>
</html>